tbody tr:nth-child(even) {
  background-color: #244ca9; /* Cor de fundo para itens pares */
}

tbody tr:nth-child(odd) {
  background-color: #10307b; /* Cor de fundo para itens ímpares */
}
td {
  line-height: 3;
}
table button {
  color: #2ca135;
  text-decoration: underline;
  transition-duration: 300ms;
  transition-property: all;
}

table button:hover {
  transition-duration: 300ms;
  transition-property: all;
  color: #0edb1f;
}
#submitButton {
  background: linear-gradient(to right, #027922 0%, #4da26c 79%);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  width: 70%;
  height: 3rem;
  border-color: transparent;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
  transition-duration: 200ms;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

#submitButton:hover {
  transition-duration: 200ms;
  transition-property: all;
  transition-timing-function: ease-in-out;
  box-shadow: rgba(234, 231, 231, 0.35) 0px 5px 15px;
}
